body{
    background-image: url("../images/bg.png");
    margin: 0;
    padding: 0;
    margin-top: 0;
}
ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}
li{
    padding: 1rem;
    text-decoration: none;
}
a{
    text-decoration: none;
    /* background-color: gray; */
    color: white;
    font-weight: 200;
    font-size: 1em;
}
.nav-items{
    width: 26rem;
    display: flex;
    background-color: #070B66;
    border-radius: 50px;
    height: 3rem;
    padding: 5px;
}
.hero{
    padding: 10%;
    color: white;
}
#hello{
    font-size: 2rem;
}
#name{
    font-size: 3rem;
}

@media only screen and (max-width: 478px) {
    ul{
        margin: 0;
    }
    .nav-items{
        border-radius: 0%;
        display: block;
        text-align: center;
    }
    nav{
        background-color: #070B66;
        height: 13rem;
        
    }
    
}