@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;500;600;700&display=swap');

@font-face {
    font-family: CalSans;
    src: url("../fonts/CalSans.ttf");
}

/* Default Styling */
* {
    margin: 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}



/* Colors */
:root {
    --Primary-color: #ffffff;
    --Secondary-color: #d9d9d9;
    --bg-color: #1e1e20;
}

body {
    background-color: var(--bg-color);
}


/* Typography */
.main-heading {
    font-family: 'CalSans';
    font-size: 44.625px;
    font-style: normal;
    font-weight: 600;
    line-height: 62.4px;
    color: var(--Primary-color);
}

.heading-2 {
    font-family: 'CalSans';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48.64px;
    color: var(--Primary-color);
}

.heading-3 {
    font-family: 'CalSans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 44.8px;
    color: var(--Primary-color);

}

.body-text {
    font-family: 'Lexend Deca';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--Secondary-color);
}

.tag-text {
    font-family: 'Lexend Deca';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: 0.84px;
    text-transform: capitalize;
    background: linear-gradient(91deg, #C6FCA6 0%, rgba(167, 252, 238, 0.74) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.points-text {
    font-family: 'Lexend Deca';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    color: var(--Secondary-color);
}



/* Common Classes */
.button {
    max-width: 220px;
    font-family: 'Lexend Deca';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 48px;
    border-radius: 50px;
    box-shadow: 0px 6px 16px 0px rgba(255, 255, 255, 0.20);
    color: var(--bg-color);
    background-color: var(--Primary-color);
    text-align: center;
}


ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;

}

li {
    padding: 1rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: "headings_font";
    font-weight: 200;
    font-size: 1em;
}

/* Navbar */
.nav-items {
    margin-top: 1rem;
    width: 26rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 3rem;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid #4D4D4D;
    position: fixed;
    z-index: 9999;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 0 1.5px rgba(255, 255, 255, 0.4);
}

.nav-items a li {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Lexend Deca';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
/* hero */
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
}
.image-box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}
.hero-content p{
    color: var(--Secondary-color);
}

.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.button2{
    max-width: 340px;
    font-family: 'Lexend Deca';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 48px;
    border: 1px solid var(--Primary-color);
    border-radius: 50px;
    color: var(--Primary-color);
    background-color: rgba(255, 255, 255, 0.09);
    text-align: center;
}

/* Marquee */
.marquee-container {
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
    opacity: 69%;
}

/* Style for the marquee text */
.marquee-text {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    display: flex;
    align-items: center;

}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Style for the icons */
.icon {
    margin-right: 10px;
    font-size: 30px;
}


.cards {
    margin: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
}

.project-card {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    background-color: #273234;
    width: 55%;
    padding: 5%;
    border-radius: 30px;

}

.card-description {
    width: 65%;
}

.project-image {
    width: 35%;
    display: flex;
    justify-content: center;
}

.project-name {
    padding-bottom: 10px;
}

.project-title {
    padding-bottom: 15px;
}

.project-description {
    padding-bottom: 25px;

}




@media only screen and (max-width: 478px) {
    ul {
        margin: 0;
    }

    .nav-items {
        border-radius: 0%;
        display: block;
        text-align: center;
    }

    nav {
        height: 13rem;

    }

}